@font-face {
    font-family: 'DungGeunMo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}   
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MoveSans-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/MoveSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


body{   
    all:unset;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
    text-decoration: none;
    background-color: #f1efed;
}
.intro-container{
    width: 300px;
}
.intro-container > h1{
    font-weight: lighter;
    font-family: "Poetsen One", sans-serif;
    font-size: 36px;
    margin: 20px 0px 20px 230px;
    color: #333;
}   


.login{
    background-image: linear-gradient(to top right, rgb(81, 71, 62),#4e463d );
    margin: 0px 100px 0px 100px;
    height: 480px;
    border-radius: 30px;
    padding: 60px 200px 0px 200px;
    display: flex;
}

.login-wrapper{
    width: 340px;
    height: 300px;
    box-sizing: border-box;
}

.login_state{
    font-family: "Poetsen One", sans-serif;
    font-size: 58px;
    color:#fafafa;
    margin: 95px;
}
#login-form > input,button{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 8px;
    background-color: #FAFAFA;
    border:none;
    
}
#login-form > input::placeholder{
    color: #a79d9d;
}
#login-form > input[type="text"]{
    margin-top: 40px;
}
#login-form > button[type="submit"]{
    color: #fff;
    font-size: 17px;
    background-color: #967f62;
    margin-top: 19px;
    font-family: 'DungGeunMo';
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    letter-spacing: 4px;
}
#login-form > input[type="checkbox"]{
    display: none;
}
#login-form > label{
    color: #999999;
    font-size: 13px;
}
#login-form input[type="checkbox"] + label{
    cursor: pointer;
    padding-left: 26px;
    background-image: url("checkbox.png");
    background-repeat: no-repeat;
    background-size: contain;
}
#login-form input[type="checkbox"]:checked + label{
    background-image: url("checkbox-active.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.another{
    padding-left: 23px;
}

.another a{
    text-decoration-line: none;
    color: #dfdedd;
    font-size: 15px;
    margin-left: 17px;
    margin-top: -10px;
    font-family: 'S-CoreDream-3Light';
}


.ai_image{
    width: 600px;
    height: 100%;
    margin: -30px -100px 0px 50px;
    position: relative;
}
.ai_image>img{
    width:100%;
}
.typing-txt{
    display: none;
}
.typing-txt ul{
    list-style:none;
}
.typing {  
    display: inline-block; 
    animation-name: cursor; 
    animation-duration: 0.4s; 
    animation-iteration-count: infinite; 
    font-size: 21px;
    position: absolute;
    margin: 75px 0px 0px 365px;
    font-family: 'DungGeunMo';
} 
@keyframes cursor{ 
  0%{border-right: 1px solid #fff} 
  50%{border-right: 1px solid #000} 
  100%{border-right: 1px solid #fff} 
}