@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DungGeunMo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body{
    all:unset;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
    text-decoration: none;
    background-color: #f1efed;
}
.intro-container{
    width: 300px;
}
.intro-container > h1{
    font-weight: lighter;
    font-family: "Poetsen One", sans-serif;
    font-size: 36px;
    margin: 20px 0px 20px 230px;
    color: #333;
}   

.profile{
    background-image: linear-gradient(to top right, rgb(154, 151, 124),rgb(154, 151, 124) );
    margin: 0px 400px 0px 100px;
    height: 250px;
    border-radius: 30px;
    padding: 20px 100px 20px 100px;
    display: flex;
}

.user_img{
    width: 230px;
}

.user_img > img {
    width: 100%;
    border-radius: 8px;
    height: 100%;
}

.information{
}

.information ul{
    list-style: none;
}

.information li{
    margin: 15px;
    font-size: 20px;
    color: #f1efed;
    font-family: 'S-CoreDream-3Light';
}

.right ul {
    float:right;
    list-style-type: none;
    margin: -288px 50px 0px 100px;
    padding: 0;
    width: 300px;
    background-color: rgb(236, 236, 236);
    border: 5px solid rgb(154, 151, 124);
    border-radius: 20px;
    display: fixed;
  }
  
.right  li a {
    display: block;
    color: #3a3a3a;
    padding: 8px 16px;
    text-decoration: none;
}
  
.right  li {

    font-family: 'S-CoreDream-3Light';
    font-size: 20px;
    font-weight: border;
    padding-top:28px;
    height: 70px;
    text-align: center;
    border-bottom: 4px solid rgb(154, 151, 124);
  }
  
.right  li:last-child {
    border-bottom: none;
  }
  
.right  li:first-child:hover{
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}
.right  li:last-child:hover{
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}
.right  li:hover {
    background-color: #979a89;
    color: white;
    height: 70px;
}

.ai_img{
    position: fixed;
    width: 440px;
    bottom: 0;
    left:0;
  }

  .ai_img > img{
    width: 100%;
  }
  .typing-txt{
    display: none;
}
.typing-txt ul{
    list-style:none;
}
.typing {  
    display: inline-block; 
    animation-name: cursor; 
    animation-duration: 0.4s; 
    animation-iteration-count: infinite; 
    font-size: 23px;
    margin: 50px 0px 0px 270px;
    position: absolute;
    font-family: 'DungGeunMo';
} 
@keyframes cursor{ 
  0%{border-right: 1px solid #fff} 
  50%{border-right: 1px solid #000} 
  100%{border-right: 1px solid #fff} 
}